<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/productos.css">
    <title>Document</title>
</head>
<body>

    <header id="header"></header>

    <main>

        <section class="container">
            <div id="app" >

                <!-- Botón Nuevo (Azul) -->
                <a class="nuevo" href="ingresar_producto.html">Nuevo</a>

                <section v-if="error">Lo sentimos se produjo un error</section>
                <section v-else>
                    <section v-if="cargando">
                        <div class="spinner-border"></div>
                        <p>Cargando .....</p>

                    </section>
                    <section v-else>
                        
                        <div >
                            <table class="tabla">
                                <thead>
                                    <tr>
                                        <th >ID</th>
                                        <th >Nombre</th>
                                        <th >Precio</th>
                                        <th >Imagen</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                    <tr v-for="producto in productos">
                                        <td >{{producto.idpro}}</td>
                                        <td>{{producto.nompro}}</td>
                                        <td>{{producto.preciopro}}</td>

                                        <!-- <td>{{producto.urlimgpro}}</td> -->
                                        <!-- Muestro la Imagen del Producto -->
                                        <!-- Ver: Vue Table With Image - https://fontawesomeicons.com/fa/vue-table-with-image -->
                                        <td><img :src="producto.urlimgpro" style="width: 50px; height: 50px"></td>
                                        <td>
                                            <button type="button"  v-on:click="eliminar(producto.idpro)">Eliminar</button>
                                        </td>
                                        
                                        <td>
                                            <a class="boton" :href="'editar_producto.html?idpro='+ producto.idpro+'&nompro=' +producto.nompro+'&preciopro=' +producto.preciopro+'&urlimgpro=' +producto.urlimgpro" >Editar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </section>

            </div>
        </section>

    </main>

    <footer></footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="../js/productos.js"></script>
    <script src="../js/header.js"></script>
</body>
</html>