*{
    margin: 0%;
    padding: 0%;
    
}

.container{
    background: rgb(6, 27, 64);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


table {
    background-color: #3a75afde;
    border-collapse: collapse;
    width: 60vw;
    max-width: 70vw;
    margin: 2vw auto;
    font-family: Arial, sans-serif;
    height:auto;
    
  }

th, td {
    border: 2px solid #dddddd;

    padding: 0.8vw;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    
    
  }

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #001F3F;
    border: solid 2px white;
}

a{
    text-decoration: none;
    color: #dddddd;
    
}

td:hover{
    background-color: #f2f2f285;
    color:#001F3F
}





button{
    
   
    background-color: red; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px ; /* Relleno interno */
    border: none; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    
    font-size: 1vw; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    
}

.boton{
    
    color: #f2f2f2;
    
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px; /* Relleno interno */
    border: none; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 1vw; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

.nuevo{
    color: #f2f2f2;
    margin-right: 2vh;
    background-color: rgb(122, 149, 177); /* Color de fondo */
    color: white; /* Color del texto */
    font-weight: bold;
    padding: 0.5vw 3vh; /* Relleno interno */
    border: solid 1px white; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 1vw; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}
.nuevo:hover{
    box-shadow: 0px 0px 10px white;
}




