<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../CSS/Style.css">
    <link rel="stylesheet" href="../CSS/nosotros.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&family=Indie+Flower&display=swap" rel="stylesheet">
    <title>Lo q sea</title>
    <script src="https://kit.fontawesome.com/a8c2996f32.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../CSS/loguin.css">
</head>
<body>

    <header >
        <div class="container_header">
            <div id="bt_burger" class="boton_burger"><i class="fa-solid fa-bars" style="color: #d6b53d;"></i></div>
            <div class="logo__empresa" ><a href="../index.html"><img class="logo__bt" src="../img/logo_final.png" ></a></div>
            <nav  class="container__bt">
                <ul id="menu__item"class="item__menu">
                    <li class="opciones__menu"><a href="Nosotros.html" class="texto__desplegado">Nosotros</a></li>
                    <li class="opciones__menu"><a href="Productos.html" class="texto__desplegado">Productos</a></li>
                    <li class="opciones__menu"><a href="Contacto.html" class="texto__desplegado">Contacto</a></li>
                    <li class="opciones__menu"><a href="loguin.html" class="texto__desplegado">Login</a></li>
                </ul>   
            </nav> 
        </div>    
        <div class="Separador__menu"></div>
        
    </header>

    <main>
        <div class="form_container ">

            <form action="" class="form" id="form">
               
    <div class="entrada">
        <label for="user">User</label>
        <input type="text"  id="user" >
    </div>
    <div class="entrada">
        <label for="pass">Pass</label>
        <input type="password"  id="pass"  >
    </div>
    <div class="entrada">
        <button type="submit" id="btn_log">Enviar</button>
    </div>
    <div class="entrada">
        <p class="submit_msj" id="submit_msj"></p>
    </div>
                  

               
    
            </form>
        </div>

    </main>

    <footer>
        <div class="container__footer">
            <h3 class="text__footer">Codo a Codo </h3>
            <div class="container__ico">
                <div class="ico__footer"><i class="fa-brands fa-instagram" style="color: #f2f4f8;"></i></div>
                <div class="ico__footer"><i class="fa-brands fa-whatsapp" style="color: #f2f4f8;"></i></div>
                <div class="ico__footer"><i class="fa-brands fa-twitter" style="color: #f2f4f8;"></i></div>
            </div>
        </div>
    </footer>
    <script src="../JS_FRONT/login.js"></script>
    
</body>
</html>