<!DOCTYPE html>
<html lang="es">
<cabeza>
    <meta juego de caracteres="UTF-8">
    <meta nombre="puerto de observación" contenido="ancho = ancho del dispositivo, escala inicial = 1.0">
    <enlace rel="preconectar" href="https://fonts.googleapis.com">
    <enlace rel="preconectar" href="https://fonts.gstatic.com" de origen cruzado>
    <enlace href="https://fonts.googleapis.com/css2?familia = Barlow + Condensed: ital @ 1&display = swap " rel="hoja de estilo">
    <enlace href="https://fonts.googleapis.com/css2?familia = Barlow + Condensed: ital @ 1&familia = Indie + Flower&display = swap " rel="hoja de estilo">

    <enlace rel="hoja de estilo" href="../CSS/reset.css ">
    <enlace rel="hoja de estilo" href="../CSS/Style.css ">
    <enlace rel="hoja de estilo" href="../CSS/galeria.css ">
    
   
    <título>Lo q sea</título>
    <guión src="https://kit.fontawesome.com/a8c2996f32.js" de origen cruzado="anónimo"></guión >
</cabeza>
<cuerpo>
    <cabezazo >
        <div clase="container_header">
            <div identificaciónentificación="bt_burger" clase="boton_burger"><i clase="fa-solid fa-bars" estilo="color: # d6b53d; "></i></div >
            <div clase="logo__empresa" ><a href="../index.html "><img clase="logo__bt" src="../img/logo_final.png " ></a></div >
            <nav clase="contenedor__bt">
                <ul identificaciónentificación="menú__item"clase="item__menu">
                    <li <li clase="opciones__menú"><a href="Nosotros.html" clase="texto__desplegado">Nosotros</a></li >
                    <li clase="opciones__menú"><a href="contactoSinLogin.html" clase="texto__desplegado">Contacto</a></li >
                    <li clase="opciones__menú"><a href="loguin.html" clase="texto__desplegado">Iniciar sesión</a></li > 
                    <li clase="opciones__menú"><a href="../index.html " clase="texto__desplegado">Casa</a></li >
                </ul >  
                </div >   
            </nav > 
        </div >    
        <div clase="Separador__menu"></div >
        
    </cabezazo >
    <principal>
       <div clase="container_titulo">
            <h1 clase="titulo_card">CATÁLOGO DE PRODUCTOS</h1 >
        </div >
        <div identificación="aplicación" clase="container_card" >
            <div v-for="producto en productos" clase="carta de cuerpo" >
                <div clase="img_card"><img : src="producto.urlimgpro"  ></div >
                <h2 clase="marca_card">{{producto.nompro}}</h2 >
                <h3 clase="precio_card">$ {{producto.preciopro}}</h3 >
                        
            </div>
        </div>
    </principal>
    <pie de página>
        <div clase="container__footer">
            <h3 clase="text__footer">Codo a Codo </h3 >
            <div clase="container__ico">
                <div clase="ico__footer"><i clase="fa-brands fa-instagram" estilo="color: # f2f4f8; "></i></div >
                <div clase="ico__footer"><i clase="fa-brands fa-whatsapp" estilo="color: # f2f4f8; "></i></div >
                <div clase="ico__footer"><i clase="fa-brands fa-twitter" estilo="color: # f2f4f8; "></i></div >
            </div >
        </div >
    </footer>
    <script src="../JS_FRONT/menu_burger.js" type="module"></script>
</body>
</html>
